html,
body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans JP", sans-serif;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSoejkmzyHcN4VmssORqOq_3-ccrpjAvf5i-g&usqp=CAU");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
  height:100%;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgb(0,0,0,0.7);
  color: white;
}

.table-header {
  font-weight: 500;
}
